 - DOMAIN-KEYWORD,cnki.net,DIRECT
 - DOMAIN-KEYWORD,wanfangdata,DIRECT
 - DOMAIN-KEYWORD,pkulaw,DIRECT
 - DOMAIN-KEYWORD,westlawchina,DIRECT
 - DOMAIN-SUFFIX,doi.org,DIRECT
 - DOMAIN-SUFFIX,researchgate.net,DIRECT
 - DOMAIN-SUFFIX,springer.com,DIRECT
 - DOMAIN-SUFFIX,blackwell-synergy.com,DIRECT
 - DOMAIN-SUFFIX,sciencemag.org,DIRECT
 - DOMAIN-SUFFIX,jstor.org,DIRECT
 - DOMAIN-SUFFIX,cabdirect.org,DIRECT
 - DOMAIN-SUFFIX,ieee.org,DIRECT
 - DOMAIN-SUFFIX,nature.com,DIRECT
 - DOMAIN-SUFFIX,sciencemag.org,DIRECT
 - DOMAIN-SUFFIX,osapublishing.org,DIRECT
 - DOMAIN-SUFFIX,wiley.com,DIRECT
 - DOMAIN-KEYWORD,readcube,DIRECT
 - DOMAIN-SUFFIX,scopus.com,DIRECT
 - DOMAIN-KEYWORD,sciencedirect,DIRECT
 - DOMAIN-KEYWORD,elsevier,DIRECT
 - DOMAIN-KEYWORD,deepdyve,DIRECT
 - DOMAIN-KEYWORD,els-cdn,DIRECT
 - DOMAIN-SUFFIX,oup.com,DIRECT
 - DOMAIN-SUFFIX,springernature.com,DIRECT
 - DOMAIN-SUFFIX,jstor.org,DIRECT
 - DOMAIN-SUFFIX,aps.org,DIRECT
 - DOMAIN-SUFFIX,acs.org,DIRECT
 - DOMAIN-SUFFIX,iop.org,DIRECT
 - DOMAIN-SUFFIX,aip.scitation.org,DIRECT
 - DOMAIN-SUFFIX,cambridge.org,DIRECT
 - DOMAIN-SUFFIX,dl.acm.org,DIRECT
 - DOMAIN-KEYWORD,webofscience,DIRECT
 - DOMAIN-SUFFIX,clarivate.com,DIRECT